  /* GB Styling */
  {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
  }
  body {
    /* body is a flex box and all items within are flex items */
    display: flex;
    flex-direction: column; /* I want a column instead of a row */
    align-items: center;
    justify-content: center;;
    text-align: center;
    height: 100vh; /* take up the entire viewport */
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
#box {
  background: rgba(0,0,0,0.5);
  padding: 20px 20px;
  border-radius: 5px 5px;
}
  #time {
    font-size: 7rem;
}

  h1 {
    margin-bottom: 2rem;
  }


  /* Smaller time for smaller screens */
  @media(max-width: 720px) {
    #time {
      font-size: 4rem;
    }
  }

